---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
---

<Layout title="Welcome!">
  <main>
    <div class="title-layout">
      <Title />
    </div>
    <div class="container-information">
      <div class="title-information">
        <h1>Brace for impact</h1>
        <p>
          Embark on a groundbreakin mission with Seismic Detection Across the
          Solar System, a cutting-edge initiative focused on detecting and
          analyzing seismic activities across planetary bodies.
        </p>
        <div class="section-action">
          <input type="file" id="file-input" />
          <button id="upload-btn" class="button-download">
            <span>Cargar</span>
            <div id="spinner" class="spinner" style="display: none;"></div>
          </button>
        </div>
      </div>
      <div class="content-information">
        <div class="container-astro-image">
          <img src="../src/images/astro.svg" alt="Astro" class="astro-image" />
        </div>
        <div class="container-astro-satellite">
          <img
            src="../src/images/satellite.svg"
            alt="Satellite"
            class="satellite-image"
          />
        </div>
      </div>
    </div>
  </main>
  <section>
    <div class="container-signals">
      <div class="content-earth">
        <img src="../src/images/earth.svg" alt="Astro" class="earth" />
      </div>
      <div class="content-signal">
        <div class="signal"></div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-pitch">
      <div class="pitch"></div>
    </div>
  </section>
</Layout>

<script>
  document.getElementById("upload-btn").addEventListener("click", async () => {
    const fileInput = document.getElementById("file-input");
    const file = fileInput.files[0];
    const spinner = document.getElementById("spinner");

    if (!file) {
      alert("Por favor, selecciona un archivo.");
      return;
    }

    const formData = new FormData();
    formData.append("file", file);

    // Mostrar el spinner
    spinner.style.display = "block";

    try {
      const response = await fetch(
        "https://cosmic-123-337310624836.southamerica-east1.run.app/detect-events/",
        {
          method: "POST",
          body: formData,
        }
      );

      if (!response.ok) {
        throw new Error("Error en la respuesta del servidor");
      }

      const svgContent = await response.text();
      const signalDiv = document.querySelector(".signal");
      signalDiv.innerHTML = svgContent;
    } catch (error) {
      console.error("Error:", error);
    } finally {
      // Ocultar el spinner cuando la llamada haya terminado (éxito o error)
      spinner.style.display = "none";
    }
  });
</script>

<style>
  main {
    margin: -30px 50px;
    padding: 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .title-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 15%;
  }

  .container-information {
    display: flex;
    height: 500px;
  }

  .title-information {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: red; */
  }

  .title-information h1 {
    font-size: 1.6em;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    text-align: justify;
  }

  .title-information p {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  .section-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    justify-content: flex-start;
  }

  .button-download {
    position: relative;
    background-color: #333333;
    border: none;
    color: white;
    padding: 17px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-download:hover {
    background-color: #7a7a7a;
    filter: drop-shadow(0 0 1em #333333);
  }

  .content-information {
    width: 50%;
    height: 100%;
    display: flex;
  }

  .container-astro-image {
    width: 70%;
    height: 100%;
    overflow: hidden;
  }

  .astro-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: -10%;
    filter: drop-shadow(0 0 1em #646cffaa);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .container-astro-satellite {
    width: 30%;
    height: 100%;
    position: relative;
  }

  .satellite-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: -50%;
    animation: satalite 3s ease-in-out infinite;
    transform-origin: center;
    filter: drop-shadow(0 0 1em #646cffaa);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .container-signals {
    width: 100%;
    height: 600px;
    display: flex;
  }

  .content-earth {
    width: 40%;
    height: 100%;
    /* background-color: red; */
  }

  .earth {
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: drop-shadow(0 0 1em #008cffaa);
  }

  .content-signal {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signal {
    width: 90%;
    height: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-pitch {
    width: 100%;
    height: 400px;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pitch {
    width: 90%;
    height: 80%;
    background-color: white;
  }

  .spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-left: 10px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes satalite {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @media (max-width: 800px) {
    .container-information {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .title-information {
      width: 100%;
      margin-top: 300px;
    }

    .content-information {
      width: 100%;
      height: 600px;
      margin-top: 2rem;
      margin-bottom: 5rem;
    }

    .container-astro-image {
      width: 100%;
      height: 200px;
    }

    .container-astro-satellite {
      width: 40%;
      height: 200px;
    }

    .container-signals {
      margin-top: 5rem;
      flex-direction: column;
    }

    .content-earth {
      margin-top: 4rem;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .content-signal {
      width: 100%;
    }

    .signal {
      width: 100%;
      height: 100%;
    }
  }
</style>
